ROBLOX_STUDIO_BRIDGE_HOST=127.0.0.1
ROBLOX_STUDIO_BRIDGE_PORT=3765
ROBLOX_STUDIO_BRIDGE_TOKEN=replace-with-random-local-token
ROBLOX_STUDIO_BRIDGE_ALLOW_DANGEROUS_LUAU=0
ROBLOX_STUDIO_BRIDGE_MAX_OBJECT_COUNT=1000
ROBLOX_STUDIO_BRIDGE_MAX_TERRAIN_SIZE=2048
ROBLOX_STUDIO_BRIDGE_MAX_BATCH_OPERATIONS=2000
